/* .center{
    /* position: absolute; */
    /* display: flex;
    align-items: center;
    border: none;
    justify-content: center;
} */ 
/* 
.v {
    width: 500px;
    height: 400px;
    border: 2px solid black;
    position: relative;
}

video {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
button{
    font-size: larger;
    
} */